node_modules
.next
.dist
out
dist
build
.turbo
.vercel
.wrangler
.env*
!.env.example
coverage
*.log
dev-*.out
dev-*.err
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.tsbuildinfo
